meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1"
link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet"
link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
link href="css/application.css" rel="stylesheet"
link href="favicon.png?new3" rel="icon" sizes="16x16" type="image/png"
