doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Umbrellio &bull; Карьера
    include include/head

  body
    nav: .inner: .row
      - var url = "career"
      include include/nav

    section.intro: .inner: .row
      .col-12.text-center
        h3.intro-text
          strong
            | &nbsp;
            span &mdash;
            | Umbrellio
            span &mdash;
          br
          | пространство для комфортной и&nbsp;творческой работы профессиональных разработчиков


    section: .inner: .row
      .col-12
        h2 Карьера
        p
          | Главный ресурс Umbrellio&nbsp;&mdash; знания и&nbsp;навыки наших сотрудников.
          br
          | Каждый из&nbsp;нас не&nbsp;может оставаться на&nbsp;месте и&nbsp;стремится к&nbsp;постоянному развитию&nbsp;&mdash; как личному, так и&nbsp;профессиональному.
          br
          | Комфортные условия труда, отсутствие бюрократии, дружелюбная атмосфера и&nbsp;лояльность помогают нам быть максимально эффективными и&nbsp;получать удовольствие от&nbsp;работы.

        p
          | Наши сотрудники придерживаются концепции личной ответственности.
          br
          | Они могут самостоятельно организовывать свое время, стремятся к&nbsp;отличному результату и&nbsp;готовы работать над серьезными задачами.

        p
          | Umbrellio дает возможность максимально использовать имеющиеся знания и&nbsp;навыки, чтобы реализовывать свой потенциал.
          br
          | Мы всегда можем предоставить сотрудникам действительно подходящие для них интересные задачи.
      .col-12
        .hh
          | Наши открытые
          a(href="https://spb.hh.ru/employer/2058497") вакансии
          | на hh.ru

      .col-12
        h3 Работа у нас

        ul.bullet
          li Проекты развиваются, и мы готовы пригласить в команду талантливых специалистов.
          li Наши сотрудники растут вместе с компанией как по карьерной лестнице, так и по профессиональной.
          li Работа в Umbrellio приносит достойное вознаграждение, полна приятных дополнений и дает полную стабильность.
          li Гибкий график работы, который позволяет удобно распределять свое время.
          li Мы предоставляем комфортные рабочие места в современном офисе.
          li Мы заботимся о здоровье сотрудников, поэтому предоставляем льготное посещение фитнес-клубов.
          li Мы развиваем и обучаем наших сотрудников и даем возможность посещения курсов и конференций.
          li Мы любим отдыхать, поэтому регулярно организовываем корпоративы и тимбилдинги.

    include include/footer
