doctype html
html(lang=lang)
  head
    meta(charset="utf-8")
    title Umbrellio &bull; #{t('nav.contacts')}
    include include/head

  body.has-map
    nav: .inner: .row
      - var url = "contacts"
      include include/nav

    - var map = "large"
    include include/footer
