@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic-ext");

@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillici");

.info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, menu,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: #000;
  background: #fff;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}

blockquote, q {
  quotes: '' '';
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input, button {
  border: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, button, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(left, #1f2027 0%, #23252d 65%);
  background: -webkit-linear-gradient(left, #1f2027 0%, #23252d 65%);
  background: -o-linear-gradient(left, #1f2027 0%, #23252d 65%);
  background: -ms-linear-gradient(left, #1f2027 0%, #23252d 65%);
  background: linear-gradient(left, #1f2027 0%, #23252d 65%);
  background: #23252d;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  color: #7f858f;
  font: 300 14px/22px "PT Sans";
}

body,
nav {
  min-width: 320px;
}

section:last-child {
  padding-bottom: 40px;
}

section,
header {
  position: relative;
  float: left;
  width: 100%;
}

#map {
  position: relative;
  float: left;
  width: 100%;
  height: 230px;
  margin: 0;
}

#map.map-fit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.blog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.blog-item {
  padding: 16px 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  font: 14px/20px "PT Sans";
  position: relative;
  width: 48%;
  margin-bottom: 20px;
}

.blog-item h3 {
  margin-top: 0;
}

.blog-item:before {
  content: '';
  position: absolute;
  top: -40px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 40px 40px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
}

.blog-data {
  position: absolute;
  left: 65px;
  top: -40px;
  font-style: italic;
  color: #f3d19c;
}

.blog h3 {
  color: #fff;
  padding-right: 90px;
}

.blog-author {
  position: absolute;
  top: -40px;
  right: 0px;
  width: 80px;
  border: 5px solid #23252d;
}

.blog-tree {
  padding-left: 40px;
  box-shadow: inset 10px 0 0 0 rgba(0, 0, 0, 0.1);
}

.blog + .blog {
  margin-top: 40px;
}

.vacancy {
  margin-top: -40px;
}

.vacancy .frow {
  align-items: center;
  flex-direction: row;
}

.vacancy img {
  width: 50px;
  margin-right: 10px;
}

.vacancy p {
  font: 14px/18px "PT Sans";
}

.vacancy h3 {
  flex-grow: 1;
}

sup {
  background: #ff3600;
  color: #fff;
  border-radius: 50%;
  font: 100 10px/16px "PT Sans";
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;
  text-align: center;
  color: #fff;
  margin-left: 4px;
  position: absolute;
  top: -7px;
  right: -10px;
}

.activities {
  text-align: center;
  margin: 25px 0 70px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.activities > div {
  width: 25%;
}

.activities h3 {
  height: 50px;
  line-height: 50px;
  margin: 0;
  position: relative;
  float: left;
  width: 100%;
}

.activities h3 span {
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.activities p {
  font-style: italic;
  color: #aaa;
}

.activities div + div {
  margin-left: 36px;
}

.activities .activity-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  position: relative;
  float: left;
}

.activities .activity-icon img {
  width: 70px;
}

a.project {
  text-decoration: none !important;
  color: inherit !important;
}

.project {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.05);
  width: 31%;
  margin-bottom: 5px;
}

.project > img {
  width: 100%;
  max-width: 60px;
  margin-right: 12px;
}

.project-data {
  align-items: top;
  justify-content: space-around;
  flex-grow: 1;
  height: 100%;
  padding: 0 5px;
}

.project-data > * {
  width: 100%;
  display: block;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: space-between;
}

.project h3 {
  font: 14px/20px "PT Sans";
  color: #fff;
  margin: 0 0 4px 0;
}

.project h3 span {
  float: right;
  font: 12px/20px "PT Sans";
  color: #7f858f;
}

.project p {
  font: 12px/13px "PT Sans";
}

.btn {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  font: 14px/42px "PT Sans";
  height: 42px;
  padding: 0 30px;
  display: inline-block;
}

.separator {
  width: 400%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.01);
  position: relative;
  float: left;
  margin: 30px 0;
  margin-left: -500px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  pointer-events: none;
  background: #1f2027;
}

nav a {
  pointer-events: auto;
}

nav.transparent {
  height: 380px;
  background: none;
}

nav.transparent .logo {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

nav.transparent .contacts {
  color: #fff;
}

nav.transparent:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 290px;
  background: #23252d;
  z-index: 2;
  background: -moz-linear-gradient(top, #23252d, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(top, #23252d, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(top, #23252d, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(top, #23252d, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(top, #23252d, rgba(0, 0, 0, 0) 100%);
  background: -moz-linear-gradient(top, #000 30%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(top, #000 30%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(top, #000 30%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(top, #000 30%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(top, #000 30%, rgba(0, 0, 0, 0) 100%);
}

nav.transparent * {
  position: relative;
  z-index: 3;
}

nav + * {
  margin-top: 70px;
}

footer {
  position: relative;
  float: left;
  width: 100%;
  padding: 15px 0;
  font: 12px/20px "PT Sans";
  background: #21232a;
  margin-top: 140px;
}

footer .social {
  display: none;
}

footer.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
}

footer a, footer a:link, footer a:visited, footer a:hover, footer a:active {
  color: #fff;
  text-decoration: underline;
}

footer .phone {
  font: 36px/34px "PT Sans";
}

footer .phone a {
  text-decoration: none;
}

footer .email {
  margin-top: 14px;
}

footer .email a {
  border-bottom: 1px solid #ff3600;
  text-decoration: none;
}

footer .email a:hover {
  border-bottom: 1px solid #fff;
}

footer .contacts {
  font: 12px/16px "PT Sans";
  color: #4e535a;
  margin-top: 10px;
}

footer .contacts .pseudo {
  border-color: #4e535a;
}

.logo {
  width: 100%;
  max-width: 239px;
  float: left;
  margin-left: -6px;
}

.logo img {
  display: block;
}

.menu-main {
  display: block;
  float: right;
  margin: 8px 40px 0 0;
}

.menu-main li {
  display: inline-block;
}

.menu-main li a {
  display: inline-block;
  color: #fff;
  font: 14px/22px "PT Sans";
  text-decoration: none;
  position: relative;
  padding: 0 6px;
}

.menu-main li a:hover {
  color: #ff3600;
}

.menu-main li.active {
  padding: 0;
}

.menu-main li.active a {
  pointer-events: none;
  color: #ff3600;
  box-shadow: 0 0 0 2px #ff3600;
}

.menu-main li.active a:hover {
  color: #23252d;
}

.menu-main li + li {
  margin-left: 14px;
}

.activity {
  position: relative;
  float: left;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.activity-icon {
  width: 80px;
}

.activity-icon img {
  margin-top: 10px;
}

.activity-description {
  width: calc(100% - 100px);
  padding-left: 20px;
}

.activity h3 {
  position: relative;
  float: left;
  width: 100%;
}

.activity-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: top;
  margin-bottom: 60px;
  justify-content: space-between;
  color: #b5b9bf;
}

.activity-group ul {
  font-style: italic;
  color: #7f858f;
}

ul.bullet li:before {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background: #ff3600;
  margin: 0 4px 0 4px;
  position: relative;
  top: -1px;
}

.social {
  float: right;
  text-align: center;
  position: relative;
  top: 4px;
}

.social a {
  display: inline-block;
  line-height: 30px;
  height: 30px;
  font-size: 26px;
}

.social a + a {
  margin-left: 16px;
}

.social a span {
  color: #7f858f;
  display: inline-block;
  position: relative;
}

.social a span.fa-github {
  font-size: 32px;
}

.social a span.fa-instagram {
  font-size: 30px;
}

.social a span.fa-vk {
  font-size: 25px;
  top: -2px;
}

.social a span:hover {
  color: #ff3600;
}

.intro {
  background: url(../images/intro.jpg) 50% 6% no-repeat;
  background-size: 100% auto;
  padding: 20px 0;
}

.intro-text {
  display: inline-block;
  font: 20px/34px "PT Sans";
  padding: 14px 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.intro-text span {
  color: #ff3600;
  margin: 0 10px;
  font-weight: 600;
}

.intro-text strong {
  font-size: 30px;
}

.technologies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 80px;
}

.technologies + * {
  margin-top: 10px;
}

.technologies > div {
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  position: relative;
}

.technologies > div img {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
      /* Firefox 10+, Firefox on Android */
  filter: gray;
  -webkit-filter: grayscale(80%);
  display: inline-block;
  vertical-align: middle;
}

.technologies > div .hint {
  display: none;
  position: absolute;
  top: 65px;
  left: -50px;
  right: -50px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  font: 10px/24px "PT Sans";
}

.technologies > div .hint span {
  display: inline-block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 8px;
  color: #fff;
}

.technologies > div:hover img {
  filter: none;
  -webkit-filter: none;
}

.technologies > div:hover .hint {
  display: block;
}

.textbox {
  padding: 40px 40px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.2);
}

.schema-fade {
  display: none;
}

@media (max-width: 900px) {
  section .inner,
  footer .inner {
    padding: 0 4px;
  }

  nav {
    position: relative;
    float: left;
  }

  .technologies {
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .technologies > div {
    width: 40px;
    margin: 14px 10px;
  }

  .technologies > div .hint {
    top: 50px;
  }

  nav .inner {
    padding: 0 5px;
  }

  nav + * {
    margin-top: 0;
  }

  nav .logo {
    margin: 0 auto;
    float: none;
    display: block;
  }

  nav .social {
    display: none;
  }

  nav .menu-main {
    position: relative;
    width: 100%;
    margin: 10px 0 -10px 0;
    height: auto;
    border-top: 1px solid #18191f;
    box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.05);
    z-index: 10;
    text-align: center;
    padding: 5px 10px;
  }

  nav .menu-main li {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .intro {
    background-position: 50% 0px !important;
    background-size: 900px auto !important;
  }

  .intro h3 {
    margin: 0;
  }

  .intro strong {
    font: 20px/20px "PT Sans";
  }

  .intro-text {
    font: 16px/20px "PT Sans";
  }

  .activities {
    flex-wrap: wrap;
    margin-top: 0;
  }

  .activities > div {
    width: 100%;
  }

  .activities > div + div {
    margin: 20px 0 0 0;
  }

  .activities > div p {
    max-width: 270px;
    margin: 0 auto;
  }

  p {
    font: 14px/18px "PT Sans";
  }

  p + p {
    margin-top: 16px !important;
  }

  .textbox {
    padding: 20px;
    font: 14px/18px "PT Sans";
  }

  footer {
    margin-top: 20px;
  }

  footer .col-6 {
    width: 100%;
  }

  footer .phone {
    white-space: nowrap;
    font-size: 33px;
  }

  .activity-group {
    flex-wrap: wrap;
  }

  .activity-group > div {
    width: 100%;
  }

  .activity-group .activity-icon,
    .activity-group .activity-description {
    width: 100%;
    padding: 0;
  }

  .activity-group h3 {
    text-align: center;
  }

  .activity-group .activity-icon img {
    width: 80px;
    margin: 0 auto 20px auto;
    display: block;
  }

  .project {
    width: 100%;
  }

  footer.fixed-bottom,
  #map.map-fit {
    position: relative;
    float: left;
  }

  footer.fixed-bottom {
    float: right;
    margin-top: 0;
  }
}

@media (max-width: 900px) {
  footer .social {
    display: block;
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 16px;
  }
}

@media (max-width: 400px) {
  footer .social {
    top: 80px;
    right: 16px;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .project {
    width: 49%;
  }

  .project:nth-child(2n) {
    margin-left: 2%;
  }

  .activity {
    width: 48% !important;
  }

  .activity:nth-child(2n) {
    margin-left: 4%;
  }

  .activities > div {
    width: 50%;
  }

  .activities > div + div {
    margin: 0;
  }
}

.hh {
  margin-top: 20px;
  font-size: 30px;
  display: inline-block;
  padding: 20px;
  background: rgba(0, 0, 0, 0.1);
}

.hh a, .hh a:link, .hh a:visited, .hh a:active {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  border-bottom: 4px solid #ff3600;
}

.hh a:hover {
  color: #ff3600;
  border-bottom: 2px solid transparent;
}

.inner {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

section .inner {
  max-width: 1160px;
}

.row {
  position: relative;
  float: left;
  width: 100%;
}

.col-1 {
  position: relative;
  float: left;
  width: 8.33333%;
  min-height: 1px;
  padding: 15px;
}

.col-2 {
  position: relative;
  float: left;
  width: 16.66667%;
  min-height: 1px;
  padding: 15px;
}

.col-3 {
  position: relative;
  float: left;
  width: 25%;
  min-height: 1px;
  padding: 15px;
}

.col-4 {
  position: relative;
  float: left;
  width: 33.33333%;
  min-height: 1px;
  padding: 15px;
}

.col-5 {
  position: relative;
  float: left;
  width: 41.66667%;
  min-height: 1px;
  padding: 15px;
}

.col-6 {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding: 15px;
}

.col-7 {
  position: relative;
  float: left;
  width: 58.33333%;
  min-height: 1px;
  padding: 15px;
}

.col-8 {
  position: relative;
  float: left;
  width: 66.66667%;
  min-height: 1px;
  padding: 15px;
}

.col-9 {
  position: relative;
  float: left;
  width: 75%;
  min-height: 1px;
  padding: 15px;
}

.col-10 {
  position: relative;
  float: left;
  width: 83.33333%;
  min-height: 1px;
  padding: 15px;
}

.col-11 {
  position: relative;
  float: left;
  width: 91.66667%;
  min-height: 1px;
  padding: 15px;
}

.col-12 {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding: 15px;
}

.lg-more,
.lg-less,
.lg-only {
  display: none;
}

@media (min-width: 1400px) and (max-width: 19999px) {
  .lg-only {
    display: block;
  }
}

@media (min-width: 1400px) {
  .lg-more {
    display: block;
  }
}

@media (max-width: 1399px) {
  .lg-less {
    display: block;
  }

  .lg-hide {
    display: none;
  }

  .col-lg-1 {
    position: relative;
    float: left;
    width: 8.33333%;
    min-height: 1px;
    padding: 15px;
  }

  .col-lg-2 {
    position: relative;
    float: left;
    width: 16.66667%;
    min-height: 1px;
    padding: 15px;
  }

  .col-lg-3 {
    position: relative;
    float: left;
    width: 25%;
    min-height: 1px;
    padding: 15px;
  }

  .col-lg-4 {
    position: relative;
    float: left;
    width: 33.33333%;
    min-height: 1px;
    padding: 15px;
  }

  .col-lg-5 {
    position: relative;
    float: left;
    width: 41.66667%;
    min-height: 1px;
    padding: 15px;
  }

  .col-lg-6 {
    position: relative;
    float: left;
    width: 50%;
    min-height: 1px;
    padding: 15px;
  }

  .col-lg-7 {
    position: relative;
    float: left;
    width: 58.33333%;
    min-height: 1px;
    padding: 15px;
  }

  .col-lg-8 {
    position: relative;
    float: left;
    width: 66.66667%;
    min-height: 1px;
    padding: 15px;
  }

  .col-lg-9 {
    position: relative;
    float: left;
    width: 75%;
    min-height: 1px;
    padding: 15px;
  }

  .col-lg-10 {
    position: relative;
    float: left;
    width: 83.33333%;
    min-height: 1px;
    padding: 15px;
  }

  .col-lg-11 {
    position: relative;
    float: left;
    width: 91.66667%;
    min-height: 1px;
    padding: 15px;
  }

  .col-lg-12 {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding: 15px;
  }
}

.md-more,
.md-less,
.md-only {
  display: none;
}

@media (min-width: 1240px) and (max-width: 1399px) {
  .md-only {
    display: block;
  }
}

@media (min-width: 1240px) {
  .md-more {
    display: block;
  }
}

@media (max-width: 1239px) {
  .md-less {
    display: block;
  }

  .md-hide {
    display: none;
  }

  .col-md-1 {
    position: relative;
    float: left;
    width: 8.33333%;
    min-height: 1px;
    padding: 15px;
  }

  .col-md-2 {
    position: relative;
    float: left;
    width: 16.66667%;
    min-height: 1px;
    padding: 15px;
  }

  .col-md-3 {
    position: relative;
    float: left;
    width: 25%;
    min-height: 1px;
    padding: 15px;
  }

  .col-md-4 {
    position: relative;
    float: left;
    width: 33.33333%;
    min-height: 1px;
    padding: 15px;
  }

  .col-md-5 {
    position: relative;
    float: left;
    width: 41.66667%;
    min-height: 1px;
    padding: 15px;
  }

  .col-md-6 {
    position: relative;
    float: left;
    width: 50%;
    min-height: 1px;
    padding: 15px;
  }

  .col-md-7 {
    position: relative;
    float: left;
    width: 58.33333%;
    min-height: 1px;
    padding: 15px;
  }

  .col-md-8 {
    position: relative;
    float: left;
    width: 66.66667%;
    min-height: 1px;
    padding: 15px;
  }

  .col-md-9 {
    position: relative;
    float: left;
    width: 75%;
    min-height: 1px;
    padding: 15px;
  }

  .col-md-10 {
    position: relative;
    float: left;
    width: 83.33333%;
    min-height: 1px;
    padding: 15px;
  }

  .col-md-11 {
    position: relative;
    float: left;
    width: 91.66667%;
    min-height: 1px;
    padding: 15px;
  }

  .col-md-12 {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding: 15px;
  }
}

.sm-more,
.sm-less,
.sm-only {
  display: none;
}

@media (min-width: 940px) and (max-width: 1239px) {
  .sm-only {
    display: block;
  }
}

@media (min-width: 940px) {
  .sm-more {
    display: block;
  }
}

@media (max-width: 939px) {
  .sm-less {
    display: block;
  }

  .sm-hide {
    display: none;
  }

  .col-sm-1 {
    position: relative;
    float: left;
    width: 8.33333%;
    min-height: 1px;
    padding: 15px;
  }

  .col-sm-2 {
    position: relative;
    float: left;
    width: 16.66667%;
    min-height: 1px;
    padding: 15px;
  }

  .col-sm-3 {
    position: relative;
    float: left;
    width: 25%;
    min-height: 1px;
    padding: 15px;
  }

  .col-sm-4 {
    position: relative;
    float: left;
    width: 33.33333%;
    min-height: 1px;
    padding: 15px;
  }

  .col-sm-5 {
    position: relative;
    float: left;
    width: 41.66667%;
    min-height: 1px;
    padding: 15px;
  }

  .col-sm-6 {
    position: relative;
    float: left;
    width: 50%;
    min-height: 1px;
    padding: 15px;
  }

  .col-sm-7 {
    position: relative;
    float: left;
    width: 58.33333%;
    min-height: 1px;
    padding: 15px;
  }

  .col-sm-8 {
    position: relative;
    float: left;
    width: 66.66667%;
    min-height: 1px;
    padding: 15px;
  }

  .col-sm-9 {
    position: relative;
    float: left;
    width: 75%;
    min-height: 1px;
    padding: 15px;
  }

  .col-sm-10 {
    position: relative;
    float: left;
    width: 83.33333%;
    min-height: 1px;
    padding: 15px;
  }

  .col-sm-11 {
    position: relative;
    float: left;
    width: 91.66667%;
    min-height: 1px;
    padding: 15px;
  }

  .col-sm-12 {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding: 15px;
  }
}

.xs-more,
.xs-less,
.xs-only {
  display: none;
}

@media (min-width: 620px) and (max-width: 939px) {
  .xs-only {
    display: block;
  }
}

@media (min-width: 620px) {
  .xs-more {
    display: block;
  }
}

@media (max-width: 619px) {
  .xs-less {
    display: block;
  }

  .xs-hide {
    display: none;
  }

  .col-xs-1 {
    position: relative;
    float: left;
    width: 8.33333%;
    min-height: 1px;
    padding: 15px;
  }

  .col-xs-2 {
    position: relative;
    float: left;
    width: 16.66667%;
    min-height: 1px;
    padding: 15px;
  }

  .col-xs-3 {
    position: relative;
    float: left;
    width: 25%;
    min-height: 1px;
    padding: 15px;
  }

  .col-xs-4 {
    position: relative;
    float: left;
    width: 33.33333%;
    min-height: 1px;
    padding: 15px;
  }

  .col-xs-5 {
    position: relative;
    float: left;
    width: 41.66667%;
    min-height: 1px;
    padding: 15px;
  }

  .col-xs-6 {
    position: relative;
    float: left;
    width: 50%;
    min-height: 1px;
    padding: 15px;
  }

  .col-xs-7 {
    position: relative;
    float: left;
    width: 58.33333%;
    min-height: 1px;
    padding: 15px;
  }

  .col-xs-8 {
    position: relative;
    float: left;
    width: 66.66667%;
    min-height: 1px;
    padding: 15px;
  }

  .col-xs-9 {
    position: relative;
    float: left;
    width: 75%;
    min-height: 1px;
    padding: 15px;
  }

  .col-xs-10 {
    position: relative;
    float: left;
    width: 83.33333%;
    min-height: 1px;
    padding: 15px;
  }

  .col-xs-11 {
    position: relative;
    float: left;
    width: 91.66667%;
    min-height: 1px;
    padding: 15px;
  }

  .col-xs-12 {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding: 15px;
  }
}

.xxs-more,
.xxs-less,
.xxs-only {
  display: none;
}

@media (min-width: 320px) and (max-width: 619px) {
  .xxs-only {
    display: block;
  }
}

@media (min-width: 320px) {
  .xxs-more {
    display: block;
  }
}

@media (max-width: 319px) {
  .xxs-less {
    display: block;
  }

  .xxs-hide {
    display: none;
  }

  .col-xxs-1 {
    position: relative;
    float: left;
    width: 8.33333%;
    min-height: 1px;
    padding: 15px;
  }

  .col-xxs-2 {
    position: relative;
    float: left;
    width: 16.66667%;
    min-height: 1px;
    padding: 15px;
  }

  .col-xxs-3 {
    position: relative;
    float: left;
    width: 25%;
    min-height: 1px;
    padding: 15px;
  }

  .col-xxs-4 {
    position: relative;
    float: left;
    width: 33.33333%;
    min-height: 1px;
    padding: 15px;
  }

  .col-xxs-5 {
    position: relative;
    float: left;
    width: 41.66667%;
    min-height: 1px;
    padding: 15px;
  }

  .col-xxs-6 {
    position: relative;
    float: left;
    width: 50%;
    min-height: 1px;
    padding: 15px;
  }

  .col-xxs-7 {
    position: relative;
    float: left;
    width: 58.33333%;
    min-height: 1px;
    padding: 15px;
  }

  .col-xxs-8 {
    position: relative;
    float: left;
    width: 66.66667%;
    min-height: 1px;
    padding: 15px;
  }

  .col-xxs-9 {
    position: relative;
    float: left;
    width: 75%;
    min-height: 1px;
    padding: 15px;
  }

  .col-xxs-10 {
    position: relative;
    float: left;
    width: 83.33333%;
    min-height: 1px;
    padding: 15px;
  }

  .col-xxs-11 {
    position: relative;
    float: left;
    width: 91.66667%;
    min-height: 1px;
    padding: 15px;
  }

  .col-xxs-12 {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding: 15px;
  }
}

.frow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs li {
  background: #23252d;
  padding: 0 30px;
  font: 100 40px/60px "PT Sans";
  display: inline-block;
  box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.1);
  border-top: 1px solid #1c222b;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.03), 0 -5px 5px -2px rgba(0, 0, 0, 0.1);
}

.mission {
  font: italic 400 18px/26px "PT Sans";
}

h2 {
  display: block;
  width: 100%;
  color: #fe9700;
  color: #c9765f;
  display: inline-block;
  font: 300 40px/60px "PT Sans";
  font: 100 26px/26px "PT Sans";
  position: relative;
  color: #fff;
}

h2 + p {
  margin-top: 20px;
}

p + h2 {
  margin-top: 40px;
}

section h2:first-of-type {
  margin-top: 20px;
}

h3 {
  color: #d11f5d;
  color: #c9765f;
  font: 300 18px/24px "PT Sans";
  margin: 30px 0 12px;
  color: #fff;
}

h3 small {
  display: block;
  font-size: 10px;
  color: #eee;
}

p + h3 {
  margin-top: 40px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

p + p {
  margin-top: 30px;
}

p strong {
  color: #d1d3d6;
  color: #fff;
}

a, a:link, a:visited, a:hover, a:active {
  color: #03d3ff;
  color: #56b6c2;
  text-decoration: underline;
}

.tabs {
  position: relative;
  float: left;
  width: 100%;
}

.tabs li {
  font: 100 16px/32px "PT Sans";
  padding-top: 7px;
  padding-bottom: 7px;
}

.tabs li + li {
  margin-left: 16px;
  cursor: pointer;
}

.tabs li.active {
  color: #fff;
}

.tabs li:hover:not(.active) {
  color: #b5b9bf;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

.text-left {
  text-align: left;
}

.logo-large {
  margin: 30px 0 70px;
}

.logo-large img {
  margin-left: -1.2%;
}

.info {
  margin: 40px 0 30px;
  align-items: top;
}

.info > div {
  width: 50%;
}

.info a {
  text-decoration: none;
  color: #7f858f;
}

.info .contacts {
  font: 42px/42px "PT Sans";
}

.info .contacts p + p {
  margin-top: 24px;
  font: 24px/34px "PT Sans";
}

.info .contacts p + p a {
  text-decoration: none;
  border-bottom: 1px solid #c9765f;
  color: #c9765f;
}

.info .copy strong {
  font-size: 20px;
}

.right {
  float: right;
}
