doctype html
html lang="ru"
  head
    meta charset="utf-8"
    title Umbrellio &bull; O компании
    include head

  body
    nav: .inner: .row
      - $url = "about"
      include nav

    section.intro: .inner: .row
      .col-12.text-center
        h3.intro-text
          strong>
            span &mdash;
            | Umbrellio
            span &mdash;
          br
          | богатый опыт создания ярких проектов. инновации, идущие в&nbsp;ногу со&nbsp;временем


    section: .inner
      .row
        .col-6.col-sm-12
          h2 О компании
          p Umbrellio занимается разработкой систем для финансового
            анализа, СRM-систем, платежных шлюзов и&nbsp;инструментов для маркетинга.

          p За&nbsp;8&nbsp;лет продуктивной работы мы&nbsp;собрали большой багаж
            знаний. Сейчас мы&nbsp;являемся стратегическим центром разработки и&nbsp;курируем
            процессы в&nbsp;филиалах.

          p В разработке мы&nbsp;используем code review, автоматическое
            тестирование и&nbsp;статический анализ кода. Это позволяет обеспечивать
            высокое качество кода и&nbsp;простоту поддержки наших продуктов.

          p Мы делаем свою работу увлеченно и&nbsp;мастерски, для нас
            проектирование и&nbsp;разработка&nbsp;&mdash; это навык, который мы&nbsp;хотим довести до
            идеала

        .col-6.col-sm-12
          h2 Наша команда
          p Umbrellio тщательно подходит к&nbsp;подбору специалистов.
            Основная часть компании&nbsp;&mdash; это высококлассные разработчики, верстальщики,
            тестировщики и&nbsp;системные администраторы, способные решить задачи любого
            уровня. Каждый из&nbsp;нас вносит свой вклад в&nbsp;качество конечного продукта,
            может гордиться кодом и&nbsp;реализованной идеей.

          p Наши специалисты постоянно совершенствуют свои навыки,
            изучают новые технологии и&nbsp;учатся друг у&nbsp;друга. Внедрение новых
            технологий идет на&nbsp;пользу нашим продуктам.

          p Мы не&nbsp;только используем самые передовые технологии, но&nbsp;и
            хотим сами их&nbsp;создавать. Наши разработчики выступают на&nbsp;конференциях и
            проводят встречи.

    include footer
